
fpga/impl/pnr/WonderTANG.db
fpga/impl/pnr/WonderTANG.binx
fpga/impl/pnr/WonderTANG.bin
fpga/impl/pnr/device.cfg
fpga/impl/pnr/cmd.do
fpga/impl/pnr/WonderTANG.log
fpga/impl/pnr/WonderTANG.pin.html
fpga/impl/pnr/WonderTANG.power.html
fpga/impl/pnr/WonderTANG.rpt.html
fpga/impl/pnr/WonderTANG.rpt.txt
fpga/impl/pnr/WonderTANG.timing_paths
fpga/impl/pnr/WonderTANG.tr
fpga/impl/pnr/WonderTANG.tr.html
fpga/impl/pnr/WonderTANG_tr_cata.html
fpga/impl/pnr/WonderTANG_tr_content.html
fpga/impl/gwsynthesis/WonderTANG.log
fpga/impl/gwsynthesis/WonderTANG.prj
fpga/impl/gwsynthesis/WonderTANG.vg
fpga/impl/gwsynthesis/WonderTANG_syn.rpt.html
fpga/impl/gwsynthesis/WonderTANG_syn_resource.html
fpga/impl/gwsynthesis/WonderTANG_syn_rsc.xml
fpga/impl/temp/rtl_parser.result
fpga/impl/temp/rtl_parser_arg.json
sdcc/crt0.rel
sdcc/crt0.s
sdcc/disk/CHUPIN.COM
sdcc/disk/COMMAND.COM
sdcc/disk/COMMAND2.COM
sdcc/disk/EXECROM.COM
sdcc/disk/MSXDOS.SYS
sdcc/disk/MSXDOS2.SYS
sdcc/disk/NEXTOR.SYS
sdcc/disk/SPACEMAN.ROM
sdcc/disk/SROM.COM
sdcc/.vscode/launch.json
sdcc/.vscode/settings.json
sdcc/smram.ihx
sdcc/smram.lk
sdcc/smram.lst
sdcc/smram.map
sdcc/smram.noi
sdcc/smram.rel
sdcc/smram.sym
kicad/WonrderTANG-backups/*
